* {
    margin: 0;
    padding: 0;
    font-family: serif 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    flex: 0 0 80px;
    background-color: #353cb8;
    color: white;
    justify-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #b6c6ff;
    justify-content: center;
    align-items: center;
}

footer {
    flex: 0 40px;
    background-color: #353cb8;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1;
}

nav > p {
    flex: 1;
    text-align: center;
    align-content: center;
}

.form-input {
    margin: 5px;
}

.btn {
    margin: 10px;
}

.login-box {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 30vh;
    background-color: white;
    border: solid #888;
    border-radius: 20px;
}

.login-box > h4 {
    text-align: center;
    height: 10vh;
    align-content: center;
    flex: 1;
    font-size: 40px;
}

.login-box > form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.third-party {
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 40vh;
    justify-content: center;
    align-items: center;
    border: solid thin black;
    margin-top: 20px;
}


a {
    color: white;
}