main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}

.roll-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.roll-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    margin: 20px;
    flex: 1 0 40px;
}

.roll-info {
    margin-top: 25px;
    flex: 1;
}

.roll-info-text {
    padding: 4px;
}

@media (max-aspect-ratio: 1/1) {
    .roll-info-container {
        display: flex;
        flex-direction: column;
        margin: 20px;
        flex: 1 0 40px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: white;
    }
  }