main {
    color: white;
    padding-top: 24px;
}

main p {
    width: 60vw;
    margin: 20px;
}

main div {
    width: 40vw;
}

@media (max-aspect-ratio: 1/1) {
    main p {
        width: 80vw;
        margin: 5px;
    }
    
    main div {
        width: 80vw;
        margin-top: 20px;
    }
  }