/* I think it would be cool to model this page after the chess.com stats page */

.statistics-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 350px;
    max-width: 80vw;
    margin-bottom: 4em;
    gap: 20px;
}

.stat {
    height: 330px;
    width: 330px;
    border: solid black;
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #326dcb;
    transition: transform 0.3s ease;
    font-size: 20px;
    text-align: center;
}

ion-icon {
    font-size: 240px;
}

.total-cost {
    /* color: #409655; */
    color: #60c675;
}

.completed-rolls {
    color: black;
}

.prints {
    /* color: #f77c00; */
    color: #ff9933;
}

.meters {
    /* color: #d5c303; */
    color: #fce703;
}

.filament-used {
    /* color: #0047ba; */
    color: #aec8ff;
}

.filament-left {
    color: white;
}

.stat:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.ion-icon2 {
    font-size: 60px;
}