@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sixtyfour&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    /* border: thin black solid; */
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #0047ba;
    color: white;
    display: flex;
    flex-direction: row;
    flex: 0 0 80px;
    align-content: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: #93bcff; */
    background-color: #6e98dc;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

footer {
    flex: 0 0 40px;
    background-color: #0047ba;
    color: white;
}

.title {
    font-size: 40px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex: 0 0 200px;
}

.logo {
    
    display: flex;
    flex: 0 1 100px;
    width: 100px;
}

.header-text {
    display: block;
    display: flex;
    flex: 0 0 100px;
    text-align: center;
    align-content: center;
    align-items: center;
    font-family: 'Sixtyfour', sans-serif;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: 1px;
}

nav p:not(:last-child) {
    border-right: solid white;
}

nav > p {
    flex: 1 0 40px;
    text-align: center;
}

.form-input {
    margin: 5px;
}

.btn {
    margin: 10px;
}

.login-box {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: white;
    border: solid #888;
    border-radius: 20px;
    flex: 0 1 30vh;
    margin: 5px;
}

.login-box > h4 {
    text-align: center;
    height: 10vh;
    align-content: center;
    flex: 1;
    font-size: 40px;
}

.login-box > form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* width: 30vw; */
    align-content: center;
}

.form-input {
    width: 30vw;
}

.third-party {
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 40vh;
    justify-content: center;
    align-items: center;
    border: solid thin black;
    margin-top: 20px;
}


a {
    color: white;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

.menu-icon {
    display: none;
}

@media (max-aspect-ratio: 1/1) {
    .nav {
      display: none;
    }

    .menu-icon {
        display: block;
        margin: 10px;
        color: white;
        align-content: center;
    }

    ion-icon {
        font-size: 60px;
    }
  }